.slider {
  width: 100%;
}

.slider-items {
  height: auto;
  width: 600px;
}

@media (min-width: 2000px) {
  .slider-items {
    width: 1000px;
  }
}

@media (max-width: 768px) {
  .slider-items{
    width: 300px;
  }
}